{% extends "template.html" %}
{% load i18n %}


{% block content %}

<div class='container-fluid'>
	<div class="row-fluid"> 
		<div class='col-md-4'>
		
		</div>
					
		<div class='col-md-4'>			

				<p align='center'><strong>{% trans "Forgot your password? Enter your email address below, and we'll email instructions for setting a new one." %}</strong></p>
				
				<form action="" method="post">{% csrf_token %}
					{{ form.email.errors }}

					{{ form.email }}
					<input class="btn btn-default btn-lg btn-block btn-my" type="submit" value="{% trans 'Reset my password' %}" /></p>
				</form>

		</div>
		
		<div class='col-md-4'>
		</div>
	</div>
</div>

{% endblock %} 