{% extends "template.html" %}
{% load i18n %}

{% block content %}

<div class='container-fluid'>
	<div class="row-fluid"> 
		<div class='col-md-4'>
		
		</div>
					
		<div class='col-md-4'>			

							
			{% if validlink %}
	
			<p align="center"><strong>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</strong></p>
		
				<form action="" method="post">{% csrf_token %}
					{{ form.new_password1.errors }}
<!-- 					{{ form.new_password1 }} -->
					<input class='form-control' placeholder='Type your new Password' required id='id_new_password1' type='password' name='new_password1'></input>
					{{ form.new_password2.errors }}
<!-- 					{{ form.new_password2 }} -->
					<input class='form-control' placeholder='Type your new Password' required id='id_new_password2' type='password' name='new_password2'>
					<p><input class="btn btn-default btn-lg btn-block btn-my" type="submit" value="{% trans 'Change my password' %}" /></p>
				</form>
			
			{% else %}
	
				<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
	
			{% endif %}


	</div>
		
		<div class='col-md-4'>
		</div>
	</div>
</div>

{% endblock %}