{% extends "template.html" %}

{% load i18n %}

{% block content %}

	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='col-md-4'>
			</div>
			
			<div class='col-md-4'>
				{% if messages %}
					<div class="modal show" tabindex="-1" id="tokenModal" role="dialog" aria-labelledby="mySmallModalLabel">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    	
					    	<div class="modal-header">
					    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					    	</div>
								
								<div class='modal-body'>
									{% for message in messages %}
										<p{% if message.tags %} class="alert alert-success" role="alert" {% endif %}> {{ message }}
									{% endfor %}
									
									
								</div>
								
								<div class='modal-footer'>
									<form action='/dashboard/email_token/'>
										<button type="button" id="closeModalButton" class="btn btn-default" data-dismiss="modal">Close</button>
									</form>
								</div>
					    	</div>
						</div>
					</div>
				{% else %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				
				{% endif %}
				
				
				<form action="/dashboard/generate_token/" method="post">
					{% csrf_token %}
					
					{{ form.email.errors}}
					{{ form.email }}
					
					<label><strong>Role:</strong></label>
					{{ form.role.errors }}
					{{ form.role }}
					
					<label><strong>School ID: </strong></label> 
					{{ form.school_id.errors }}
					{{ form.school_id }}
					
					<label><strong>Class ID: </strong></label> 
					<span class="glyphicon glyphicon-question-sign" title='If the role of the user is Teacher, enter the ID of the class that this teacher should be able to see, otherwise, leave it blank.'></span>
					{{ form.class_id.errors }}
					{{ form.class_id }}
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
					
					<input class="hidden" id='submit-form' value="Generate" type="submit" name="generate_token">
				</form>
				
				<label class='btn btn-default btn-lg btn-block btn-my' for='submit-form'>Generate token and send to user</label>
			</div>
			
			<div class='col-md-4'>
			</div>
		</div>
	</div>

{% endblock %}