{% extends "template.html" %}

{% load i18n %}

{% block content %}

	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='col-md-4'>
			</div>
			
			<div class='col-md-4'>
				<div class='container-fluid'>
			
				{% if messages %}
					{% for message in messages %}
						<p{% if message.tags %} class="alert alert-success" role="alert" {% endif %}> {{ message }}
					{% endfor %}
				{% else %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				
				{% endif %}
				
				
				<form action="/dashboard/generate_token/" method="post">
					{% csrf_token %}
					<input class="btn btn-default btn-lg btn-block btn-my" value="Generate" type="submit" name="generate_token">
					
				</form>
				</div>
			</div>
			
			<div class='col-md-4'>
			</div>
		</div>
	</div>

{% endblock %}