{% extends "template.html" %}

{% load i18n %}

{% block content %}

	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='col-md-4'>
			</div>
			
			<div class='col-md-4'>
				<div class='container-fluid'>
				
				<form action="/dashboard/accounts/register/" method="post">
				
					{% csrf_token %}
					{{ form }}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<!--  <input class="btn btn-default btn-lg btn-block btn-my" value="Register" type="submit">-->
					
					<a href="/dashboard/login" class="btn btn-default btn-lg btn-block btn-my">
						<span>Request a Token coming soon!</span>
					</a>
					
					<a href="/dashboard/login" class="btn btn-default btn-lg btn-block btn-my">
						<span>Registration coming soon!</span>
					</a>
					
				</form>
				</div>
			</div>
			
			<div class='col-md-4'>
			</div>
		</div>
	</div>
{% endblock %}