{% extends "template.html" %}

{% load i18n %}

{% block content %}

	<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='col-md-4'>
			</div>
			
			<div class='col-md-4'>
				{% if messages %}
					<div class="modal show" tabindex="-1" id="tokenModal" role="dialog" aria-labelledby="mySmallModalLabel">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    	
					    	<div class="modal-header">
					    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					    	</div>
								
								<div class='modal-body'>
									{% for message in messages %}
										<p{% if message.tags %} class="alert alert-danger" role="alert" {% endif %}> {{ message }}
									{% endfor %}
								</div>
								
								<div class='modal-footer'>
									<button type="button" id="closeModalButton" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
					    	</div>
						</div>
					</div>
				{% endif %}
				
				<div class='container-fluid'>
				
				
				
				<form action="/dashboard/accounts/register/" method="post">
				
					{% csrf_token %}
					{{ form }}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input class="btn btn-default btn-lg btn-block btn-my" value="Register" type="submit">
					
					<a href="/dashboard/request_token" class="btn btn-default btn-lg btn-block btn-my">
						<span>Request a Token!</span>
					</a>
					
				</form>
				</div>
			</div>
			
			<div class='col-md-4'>
			</div>
		</div>
	</div>
{% endblock %}