{%  extends "template.html" %}
{% block content %}
<div class='container-fluid'>
	<div class="row-fluid"> 
		<div class='col-md-4'>
		</div>
					
		<div class='col-md-4'>
		    <content class="mainContent" id="mainContent">
		        {% load static %}
		        <div class="square sq-single" >
		            <div class='float_left'>
		            <img class="img-circle" src="{% static "media/fmjangale_students_square.png" %}" width="350" height="350" alt="Senegal children using mobile app" />
		            </div>
		        </div>
		    </content>
        </div>
        
        <div class='col-md-4'>
		</div>
	</div>
</div>
{% endblock %}