{% extends "template.html" %}

{% load i18n %}

{% block content %}

<div class='container-fluid'>
	<div class="row-fluid"> 
		<div class='col-md-4'>
		</div>
					
		<div class='col-md-4'>
			
			<form id="login_form" method="post" action="/dashboard/login/">
				{% csrf_token %}
				<input class="form-control" type="text" name="username" value="" size="50" placeholder="Username" required/>
				<input class="form-control" type="password" name="password" value="" size="50" placeholder="Password" required/>

				<a href='/dashboard/resetpassword/'>Forgot your Password?</a>
				</br>
				
				<input type="submit" value="Login" class="btn btn-default btn-lg btn-block btn-my"/>
			
			</form>
		</div>
		
		<div class='col-md-4'>
		</div>
	</div>
</div>
{% endblock %}