{%  extends "template.html" %}
{% block content %}
    <content class="mainContent scores" id="mainContent">
    {% if user.is_authenticated %}
        <div class="square">
            <h2>Scores</h2>
            <p>
                {% if score %}
                    <table border="1" width="100%">
                        <tr>
                            <th>Exercise</th>
                            <th>Score</th>
                            <th>Student</th>
                            <th>Date</th>
                        </tr>
                    {% for scores in score %}
                        <tr>
                            <th>{{ scores.fk_exercise.id_exercise }}</th>
                            <th>{{ scores.score }}</th>
                            <th>{{ scores.fk_student.id_student }}</th>
                            <th>{{ scores.date|date:'d-m-Y'}}</th>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <strong>There are no score present.</strong>
                {% endif %}
            </p>
        </div>
    {% else %}
        <a href="admin">Login</a>
    {% endif %}
    </content>
{% endblock %}