{% extends "template.html" %}

{% block content %}

    <content class="mainContent usage" id="mainContent">
    
    {% if user.is_authenticated %}        
        
		<div class="container">
			<div class="row row-text-center">
				<div class="col-md-5">
					<div class="cliente">
						<div align="center">
							<h3><strong>CalculerAuCE1 Exercise Usage</strong></h3>
            				<canvas id="doughnutchart1" width="250" height="250"></canvas>
            			
            				<ul class="doughnut-legend">
                			{%  for id, count, lbcolor in c_scorecount %}
                 	    		<li><span style="background-color:{{ lbcolor }}"><strong>Exercise {{ id }} used <b>{{ count }}</b> times</strong></span></li>
                			{% endfor %}
            				</ul>
            			</div>
					</div>
				</div>
				
				<div class="col-md-5">
					<div class="cliente">
						<div align="center">
							<h3><strong>LireAuCE1 Exercise Usage</strong></h3>
            				<canvas id="doughnutchart2" width="250" height="250"></canvas>
            			
            				<ul class="doughnut-legend">
                				{%  for id, count, lbcolor in l_scorecount %}
                    				<li><span style="background-color:{{ lbcolor }}"><strong>Exercise {{ id }} used <b>{{ count }}</b> times</strong></span></li>
                				{% endfor %}
            				</ul>
            			</div>
            			<script>
            				window.onload = function(){
                			var ctx = document.getElementById("doughnutchart1").getContext("2d");
                			window.myDoughnut = new Chart(ctx).Doughnut(pieData1, {
                    			animateRotate : true
                			});
                			
                			var ctx1 = document.getElementById("doughnutchart2").getContext("2d");
                			window.myDoughnut = new Chart(ctx1).Doughnut(pieData2, {
                    		animateRotate : true
                			});

           					 }

            				var pieData1 = [
                			{%  for id, count, lbcolor in c_scorecount %}
                				{
                    			value: {{ count }},
                    			color: "{{ lbcolor }}",
                    			label: "Exercise {{ id }} times used"
                				},
                			{% endfor %}
            				];

            				var pieData2 = [
                			{%  for id, count, lbcolor in l_scorecount %}
                			{
                    			value: {{ count }},
                    			color: "{{ lbcolor }}",
                    			label: "Exercise {{ id }} times used"
                			},
                			{% endfor %}
            				];
        				</script>
					</div>
				</div>
				
			</div>
			
    {% else %}
        <a href="admin">Login</a>
    {% endif %}
    </div>
    </content>
{% endblock %}